$bg-color:#FFFFFF;
$btn-color:#FFD400;
$title-color:#1A1A1A;
$description-color:#656567;
$subtext-color:#98989A;
$flexbgr-color:#F7F7F8;
$flexborder-color:#FAFAFA;
$hr-color:#F1F1F3;
$active: #262626;
$cardborder-clor:#F1F1F3;
// ------------------------//
$yellow-color: #FFD400;
$yellow-dark-color: #E5C100;
$dark-color: #333333;
$shadow-color: rgba(0, 0, 0, 0.2);