@use 'color' as q;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: q.$bg-color;
}
img {
  vertical-align: top;
}
.container {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  gap:100px;
  height: 100vh;
  flex-direction: column;
}