@media (max-width:1440px) {
    .container {
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    gap:80px;
    
.head {
    height: 81px;
    width: 1440px;
    padding-top: 18px;
    padding-left:80px;
    padding-right: 80px;
    .left_btns {
        gap: 10px;
    .btn {
        @include padding(18px, 18px, 12px, 12px);
            width: 97px;
            font-size:0.77778rem ;
    }
    .active {
        width: 79px;
        @include padding(20px, 20px, 12px, 12px);
    }
    }

    .logo {
        width: 40px;
        height: 40px;
    }
    .logo_pic {
        width: 40px;
        height: 40px;
    }

    .right_btns {
        gap: 10px;
        .shop {
            width: 44px;
            height: 44px;
        }
    .shop_pic {
        width: 100%;
        height: 100%;
    }
    .r_btn {
        @include padding(16px, 16px, 12px, 12px);
        width: 145px;
        font-size:0.77778rem ;
    }
}
}

.main {
    width: 100%;
    margin-left:81px;
    margin-right: 80px; 
    @include flex(row, nowrap, flex-start, normal);
    // height: 95px;
    gap:60px;
    .section {
        width:675px ;
        .main_title {
            margin-top:11px;
            gap:7px;
            margin-bottom: 20px;
            .title {
                font-size: 2.111rem;
                width: 539px;
            }
            p {
                width: 132px;
                @include padding (5px, 5px, 4px, 4px);
                height: 27px;
                position: relative;
                left: 3px;
                font-size: 0.77778rem;
            }
        }
        .description {
            width: 675px;
            margin-bottom: 40px;
            font-size: 0.88889rem;
        }
        .main_btns {
            gap:8px ;
        .main_btn {
            position: relative;
            right: -2px;
            @include padding(20px, 20px, 14px, 14px);
            width: 148px;
            border-radius: 32px;
            cursor: pointer;
            font-size: 0.77778rem;
            .icon {
                position: relative;
                left: -4px;
                top: 1px;
                width: 20px;
                height: 20px;
            }
            }
        }
        .b2 {
            font-size: 0.77778rem;
            @include padding(20px, 20px, 14px, 14px);
            width: 148px;
            }
        }

    .cards {
        margin-top: 60px;
        width: 675px;
        @include flex (row, wrap,'','' );
        gap: 16px ;
        padding: 16px;
        .card {
            width: 313px;
            height: 114px;
            padding: 24px;
            gap: 6px;
            @include flex(column, nowrap, center, flex-start); 
                .h3 { //h3 я думаю можно в маленькой верстке
                    font-size: 1.4444rem;
                }
                .description_card {
                    font-size: 0.888889rem;
                }
            }
        }

        .kurtka {
            width: 544px;
            height: 619px;
            flex: 0 0 auto;
            .kurtka_pic {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
}}}

@media (max-width:500px) {
    .container {
    flex-direction: column;
    gap:40px;

.head {
    height: 81px;
    width: 390px;
    padding-top: 20px;
    padding-left:16px;
    padding-right: 16px;
    .left_btns {
        display: none;
    .btn {
        display: none;
    }
    .active {
        display: none;
    }
    }

    .logo {
        width: 28px;
        height: 28px;
    }
    .logo_pic {
        width: 28px;
        height: 28px;
    }

    .right_btns {
        .shop {
            width: 44px;
            height: 44px;
        }
    .shop_pic {
        width: 100%;
        height: 100%;
    }
    .r_btn {
        display: none;
    }
    .hid {
        width:34px;
        height: 34px;
        display: inline-block;
    .hid_pic {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    }
    
}
}

.main {
    width: 100%;
    margin-left:17px;
    margin-right: 16px; 
    @include flex(column, nowrap, flex-start, normal);
    // height: 95px;
    gap:40px;
    .section {
        width:357px ;
        .main_title {
            margin-top:0px;
            gap:4px;
            flex-direction: column-reverse;
            margin-bottom: 10px;
            .title {
                font-size: 1.5556rem;
                width: 357px;
            }
            p {
                width: 122px;
                padding: 0px;
                height: 19px;
                position: relative;
                left: 0px;
            }
        }
        .description {
            width: 357px;
            margin-bottom: 24px;
            font-size: 0.7778rem;
        }
        .main_btns {
        .main_btn {
            position: relative;
            right: 0px;
            width: 174.5px;
            font-size: 0.77778rem;
            }
        }
        .b2 {
            width: 174.5px;
            }
        }

    .cards {
        margin-top: 40px;
        width: 357px;
        @include flex (row, wrap,'','' );
        gap: 10px ;
        padding: 10px;
        .card {
            width: 163.5px;
            height: 113px;
            padding: 20px;
            gap: 4px;
            @include flex(column, nowrap, center, flex-start); 
                .h3 { //h3 я думаю можно в маленькой верстке
                    font-size: 1.111rem;
                }
                .description_card {
                    font-size: 0.7778rem;
                }
            }
        }

        .kurtka {
            width: 357px;
            height: 438px;
            flex: 0 0 auto;
            &:hover {
            transform:none;
            filter:none;
            .kurtka_pic {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
}}}}